<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Raport z rekrutacji</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Jakub Kubasiak - ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>
