@model HR_Manager.Models.RecruitmentEvent
<div class="panel panel-default" id="@Model.Id">
    <div class="panel-heading">
        <strong>@Model.Author - Utworzono: @Model.Time.ToString("yyyy/mm/d HH:mm:ss")</strong> 
    </div>
    <div class="panel-body">
       <p>@Model.Event</p>
    </div>
</div>
