@model ICollection<HR_Manager.Models.PersonNote>
@if (Model != null)
{
    foreach (var pn in Model.Reverse())
    {
        <div class="panel panel-default" id="pn-@pn.Id">
            @Html.Partial("_SinglePersonNote", pn)
        </div>
    }
}
else
{
    <p>Brak notatek na temat kandydata</p>
}