@model bool
@{
    ViewBag.Title = "Rekrutacja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Rekrutacja</h1>
    <p>
        @if (Model)
        {
            <h4>Rejestracja zakończona pomyślnie!</h4>
        }
        else
        {
            <h4>Wystąpił błąd. Spróbuj ponownie za chwilę</h4>
        }

    </p>

</div>


