@font-face {
    font-family: 'Lato-Light';
    src: url('Fonts/Lato-Light.ttf') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('Fonts/Lato-Medium.ttf') format('truetype');
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Lato-Light;
    color:black;
    background-image: url('Images/tlo2.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
strong{
    font-family: Lato-Medium;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron h1, h3{
    font-family: Lato-Medium;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 500px;*/
    /*width: 600px;*/
}


.center-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    text-align: center;
    border-radius: 6px;
}
img{
    margin:5px;
}
.tile:hover{
    background-color:#eeeeee;
    border-radius: 6px;
    color:black;
}
.multi-input {
}

.space {
    margin-left: 50px;
    margin-top: 5px;
}
a{
    color:black;
}
a:hover {
    text-decoration: none;
    font-weight:bolder;

}



.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
td, th {
    text-align:center;
    vertical-align:central;
}
.table tbody>tr>td.vert-align, .vert-align{
    vertical-align: middle;
}
.btn, .btn-default{
    margin-top:3px;
    margin-bottom: 3px;
}
